<!doctype html>
<html class="no-js" lang="PT-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Editor de Mapas para Brinquedos Programáveis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="ddApp">

<div ng-controller="ddController" style="margin-top:50px;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="cat" ng-repeat="categoria in categorias" data-nome="{{ categoria.nome }}" style="background-image: url('{{ categoria.imgUrl }}')" ng-click="selecionaCategoria(categoria.nome)" ></div>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <div class="peg" ng-repeat="tile in tiles" data-id="{{ tile.id }}"  data-img="{{ tile.imgUrl }}" style="background-image: url('{{ tile.imgUrl }}')"
                 ng-drag="true" ng-drag-data="tile" data-allow-transform="true" ng-drag-start="onDragStart($data,$event)"></div>
        </div>

        <div class="col-sm-9 col-md-5">
            <div ng-repeat="row in cells track by $index">
                <div class="slot" ng-repeat="cell in row track by $index" ng-drop="true" ng-drop-success="dropped($event)">
                    <img class="tileImg" ng-drag="true" ng-drag-data="tile" data-id="0" data-img="null"
                         ng-drag-start="onDragStart($data,$event)"
                         style="width:100%; height:100%;" />
                </div>
            </div>
            <div ng-show="false">
            <canvas id="mapa" width="{{ imagem.largura }}" height="{{ imagem.altura }}"></canvas>
            </div>
        </div>
        <div class="col-md-2">
            <div class="lixeira" ng-drop-success="lixo($event)" ng-drop="true">
                <img class="img-responsive lixo" ng-src="images/lixeira.png" />
            </div>
            <label>Linhas</label>
            <button ng-click="sizeChange(true,true)">+</button>
            <button ng-click="sizeChange(false,true)">-</button>

            <table>
                <label>Colunas</label>
                <button ng-click="sizeChange(true,false)">+</button>
                <button ng-click="sizeChange(false,false)">-</button>

                <div>
                    <a href="#" id="expJ" download="mapa.json">Download json</a>
                    <input type="file" id="impJ" />
                    <a href="#" id="expI">Gera imagem</a>
                </div>

        </div>
    </div>
</div>



<script src="js/JQuery/jquery-3.1.0.min.js"></script>
<script src="js/Framework/angular.min.js"></script>
<script src="js/AngularDnD/ngDraggable.js"></script>
<script src="js/Bootstrap/bootstrap.min.js"></script>
<script src="js/Material/material.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>
</html>
