<!doctype html>
<html class="no-js" lang="PT-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Editor de Mapas para Brinquedos Programáveis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
</head>
<body ng-app="ddApp">

<div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="images/spinner.gif" alt="Loading"/>
</div>

<div ng-controller="ddController">
    <nav class="navbar navbar-default">
        <div class="container-fluid barra">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)"><img src="images/univali.png" width="50px" /> </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="expJ" class="btn btn-top" download="mapa.json"><!-- img class="arrows" src="images/icones/download-1.svg" / --> Salvar </a></li>
                    <li><label for="impJ" class="btn btn-top">
                            <!--<img class="arrows" src="images/icones/up-arrow-5.svg" />--> Carregar
                        </label>
                        <input ng-show="false" type="file" id="impJ" /></li>
                    <li><a href="#" class="btn btn-top" id="expI"> <!-- <img class="arrows" src="images/icones/mapa.svg" /> --> Imprimir</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row topo">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cat" ng-repeat="categoria in categorias" data-nome="{{ categoria.nome }}" style="background-image: url('{{ categoria.imgUrl }}')" ng-click="selecionaCategoria(categoria.nome)" ></div>
                </div>
            </div>
            <div class="row divTiles">
                <div class="linhaTiles">
                    <div class="peg" ng-repeat="tile in tiles" data-id="{{ tile.id }}"  data-img="{{ tile.imgUrl }}" style="background-image: url('{{ tile.imgUrl }}')"
                         ng-drag="true" ng-drag-data="tile" data-allow-transform="true" ng-drag-start="onDragStart($data,$event)"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row centro">
            <div id="areaDeTrabalho" class="col-xs-12" style="text-align: center;">
                <div ng-repeat="row in cells track by $index">
                    <div class="slot" ng-repeat="cell in row track by $index"
                         ng-drop="true" ng-drop-success="dropped($event)" ng-drag="true" ng-drag-data="tile"
                         data-id="0" data-img="null" data-deg="0"
                         ng-drag-start="onDragStart($data,$event)" >

                        <!-- <button class="rotate"><img class="rotateImage" src="images/icones/refresh.svg" /></button> -->
                    </div>
                </div>
                <div ng-show="false">
                <canvas id="mapa" width="{{ imagem.largura }}" height="{{ imagem.altura }}"></canvas>
                </div>
            </div>
    </div>

    <div class="divMais">
        <button class="btn btn-info" ng-click="sizeChange(true,false)">
            <img class="arrows" src="images/icones/add.svg" />
        </button>

    </div>
    <div class="divMenos">
        <button class="btn btn-info" ng-click="sizeChange(false,false)">
            <img class="arrows" src="images/icones/minus.svg" />
        </button>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div style="text-align: center">
                <button class="btn btn-info"  ng-click="sizeChange(true,true)">
                    <img class="arrows" src="images/icones/add.svg" />
                </button>
                <button class="btn btn-info" ng-click="sizeChange(false,true)">
                    <img class="arrows" src="images/icones/minus.svg" />
                </button>
            </div>
        </div>
    </div>

    <div class="divLixo">
        <a class="btn btn-info lixeira" ng-click="limpaTudo()" ng-drop-success="lixo($event)" ng-drop="true">
            <img src="images/icones/lixeira.svg" />
        </a>
    </div>



<script src="js/JQuery/jquery-3.1.0.min.js"></script>
<script src="js/Framework/angular.min.js"></script>
<script src="js/Framework/angular-touch/angular-touch.js"></script>
<script src="js/AngularDnD/ngDraggable.js"></script>
<script src="js/Bootstrap/bootstrap.min.js"></script>
<script src="js/Bootstrap/bootbox.min.js"></script>
<script src="js/Material/material.min.js"></script>
<script src="js/Material/ripples.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>
</html>
