/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Times New Roman", Times, serif;
}

html,body { height:100%; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


[draggable] {
    cursor: move;
    border:1px solid black;
    z-index: 100000;
}

[ng-drag].dragging {
    position: relative;
    z-index: 99999;
    transform-style: flat !important;
}

div{
    position: relative;
}

.btn{
    padding: 1vw !important;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

nav{
    margin: 0 !important;
}

body{
    background-color: #A5E9FF !important;
}

.barra{
    background-color: #167E9D !important;
}
.topo {
    background-color: #A5E9FF;
    text-align: center;
    overflow: hidden;
}

.divMais {
    right: 10%;
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -4vw;
}
.divMenos {
    right: 10%;
    position: absolute;
    margin: auto;
    top: 50%;
}

.centro {
    position: relative;
    background-color: #A5E9FF;
    width: 86vw;
    padding-left: 18vw
}

.divLixo{
    height: 40px;
    position: fixed;
    text-align: right;
    bottom:10%;
    width:100%;
    opacity: 1;
}

.divTiles{

    white-space: nowrap;
    margin: auto;
    width: 50vw;
}

.linhaTiles{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: block;
    list-style-type: disc;
}

.selecionado{
    border-color: #03a9f4 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-top{
    color: #ffffff !important;
}

.btn-info{
    background-color: transparent !important;
}

.nao-selecionado{
    opacity: 0.5;
}

.button:active{
    box-shadow: none !important;
}

.peg {
    overflow: hidden;
    border:1px black solid;
    width: 5vw;
    height: 5vw;
    margin: 1vw 0 0 1.5vw;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

/*.row{*/
    /*display: flex;*/
/*}*/

.slot {
    opacity: .99;
    margin-right:2px;
    margin-top:2px;
    width: 8vw;
    height: 8vw;
    display:inline-block;
    border: 0.5px solid black;
    text-align: center;
    background-color: rgba(255, 250, 90, 0);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.rosa{
    background-color: rgb(130,55,115) !important;
    color: rgba(255,255,255,.84) !important;
    padding: 1vw !important;
    margin-left: 18vw !important;
}

.cat {
    cursor: pointer;
    margin: 1vw 2vw;
    width: 6vw;
    height: 6vw;
    display:inline-block;
    border: 0.5px solid black;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.cat:hover{
    opacity: 1;
}

.lixeira{
    text-align: center;
    height: 5vw;
    width: 5vw;
    padding: 0.6vw;
    margin-bottom: 20px;
    background-image: none !important ;
}

.sombra{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.arrows{
    width: 2vw;
}

.btn{
    margin: 3px 1px !important;
}

.nav li{
    display: inline-block;
}

.maos{
    width: 3vw;
}

.rot90{
    transform:rotate(90deg);
}

.rot180{
    transform:rotate(180deg);
}

.rot270{
    transform:rotate(270deg);
}

.rotateImage{
    width: 100%;
}

.rotate{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3vw;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

pre strong {
    font-size:12pt;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
